@page "/call"
<h3>Access Token</h3>
<p>@AccessToken</p>
<h3>GraphqlFetcher</h3>
@if (graphqlcallfinished)
{
	<p>Done</p>
}
else
{
	<p>Still happening....</p>
}

GraphQL Response:
<p>
    @graphqlresponse
	@if(Errors.Length > 0) { 
		<span class="text-warning">@Errors</span>
	}
</p>